.pin__container {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    gap: 4px;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.pin {
    width: 24px;
    height: 36px;
    font-family: sans-serif;
    font-size: 24px;
    text-align: center;
    border-radius: 4px;
    appearance: none;
    margin: 0;
}

.pin::-webkit-inner-spin-button,
.pin::-webkit-outer-spin-button {
    appearance: none;
}

.pin:focus {
    outline: none;
}

.pin_highlight-error {
    border-color: rgba(245, 6, 245, 0.85);
}

